/* Name: Sjors Witteveen
 * Student number: 10808493 */

h1
{
    font-family: arial;
    font-size: 28px;
    margin-left: 30px;
}

.line
{
    fill: none;
    stroke-width: 2px;
}

.Minimum
{
    stroke: cornflowerblue;
}

.Average
{
    stroke: darkslategray;
}

.Maximum
{
    stroke: tomato;
}

.axis .domain
{
    fill: none;
    stroke-width: 2px;
    stroke: black;
}

.circle
{
    fill: none;
    stroke-width: 2px;
    stroke: darkred;
}

.text
{
    pointer-events: none;
    fill: darkred;
}

.menu p, #drop-down
{
    float: left;
    margin: 0;
}

#drop-down
{
    margin-left: 5px;
}

.signature, .source
{
    position: absolute;
    bottom: 0px;
    margin: 8px;
    font-family: arial;
    font-size: 14px;
}

.signature
{
    right: 0px;
}

.source
{
    left: 0px;
}

.source p, .source a 
{
    float: left;
    margin: 0;
}